

body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #efeada;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-color: #EEEEEE;
}
.main {
  flex: 1;
}

.logo {
  width: 200px;
  margin-top: -50px;
  margin-bottom: -120px;
}

h1 {
  font-size: 5rem;
  color: white;
  padding: 20px 20px 20px 40px;
  margin-left: -50px;
  background-color: #222831;
}

footer {
  text-align: right;
  color: #4a3232;
  clear:both;
}

span {
  color: #76ABAE;
}

.tile-image {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card h2,p {
  position: relative;
  width: 100%;
  margin-right: 0%;
  color: #31363F;
  text-align: justify;
}

.lining{
  padding: 10px;
  margin-left: 40%;
}

.lining .link {
  color: #31363F;
  text-decoration: none;
  padding: 20px; 
  font-size: 2rem;
}

.search {
  position: relative;
  background-color: white;
  border-radius: 30px;
  width: 60%;
  height: 60px;
  box-shadow: 0px 0px 4px 4px rgb(207, 206, 206);
  margin-left: 20%;
  margin-bottom: 50px;
}

.search p {
  color: #31363F;
  padding: 20px;
  margin-left: 70px;
  
}

.search .btn {
  position: absolute;
  width: 40px;
  padding: 10px;
  margin-top: -80px;
  margin-left: 15px;
}

/* 

FOR SMALL MOBILE SCREEN RESOLUTION

*/
@media (min-width: 319px) and (max-width:480px) {

  /*
   body{
    background-color: aquamarine;
   }
*/
  .logo {
    width: 75px;
    margin-bottom: 5px;
    margin-left: -20px;
    position: relative;
  }

  h1 {
    font-size: 2rem;
    text-align: left;
    margin-top: -10px;
    position: absolute;
  }

  .card p {
    font-size: 15px;
  }

  .card h1 {
    font-size: 20px;
  }

  .card img {
    width: 100%;
    display: inline;
    object-fit:cover;
    margin-bottom: 10px;
  }

  .left {
    width: 100%;
    display: block;
    text-align: justify;
  }

  .right {
    width: 100%;
    display: block;
    margin-top: 40px;
  }

  footer {
    text-align: right;
    color: midnightblue;
    font-size: 10px;
  }

  .lining{
    padding: 5px;
    margin-top: -60px;
    margin-bottom: 30px;
    margin-left: 20%;

  }
  
  .lining .link {
    color: #31363F;
    text-decoration: none;
    padding: 0px; 
    font-size: 0.75rem;
    margin-left: 5px;
  }

  .search {
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    height: 50px;
    box-shadow: 0px 0px 4px 4px rgb(207, 206, 206);
    margin-top: 200px;
    margin-left: 5%;
    margin-bottom: 50px;
  }
  
  .search p {
    color: #31363F;
    padding: 15px;
    margin-left: 70px;
    font-size: 0.75rem;
  }
  
  .search .btn {
    position: absolute;
    width: 30px;
    padding: 15px;
    margin-top: -65px;
    margin-left: 10px;
  }
  
}
/*

This is the code for mobile screen resolution

*/

@media (min-width: 480px) and (max-width:700px) {

  .logo {
    width: 100px;
    margin-bottom: 5px;
    margin-left: -20px;
    position: relative;
  }

  h1 {
    font-size: 2.25rem;
    text-align: left;
    margin-top: -10px;
    position: absolute;
  }

  .card p {
    font-size: 15px;
  }

  .card h1 {
    font-size: 20px;
  }

  .card img {
    width: 100%;
    display: inline;
    object-fit:cover;
    margin-bottom: 10px;
  }

  .left {
    width: 100%;
    display: block;
    text-align: justify;
  }

  .right {
    width: 100%;
    display: block;
    margin-top: 40px;
  }

  footer {
    text-align: right;
    color: midnightblue;
    font-size: 10px;
  }

  .lining{
    padding: 10px;
    margin-top: -70px;
    margin-bottom: 30px;
    margin-left: 30%;

  }
  
  .lining .link {
    color: #31363F;
    text-decoration: none;
    padding: 0px; 
    font-size: 0.75rem;
    margin-left: 10px;
  }

  .search {
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 70%;
    height: 50px;
    box-shadow: 0px 0px 4px 4px rgb(207, 206, 206);
    margin-top: 200px;
    margin-left: 15%;
    margin-bottom: 50px;
  }
  
  .search p {
    color: #31363F;
    padding: 15px;
    margin-left: 70px;
    font-size: 0.75rem;
  }
  
  .search .btn {
    position: absolute;
    width: 30px;
    padding: 15px;
    margin-top: -65px;
    margin-left: 10px;
  }
  
}

/*

MEDIUM SIZE SCREEN CODE
*/

@media (min-width: 701px) and (max-width:1200px) {
.logo {
  width: 150px;
  margin-top: -10px;
  margin-bottom: -90px;
}

h1 {
  font-size: 3.5rem;
  color: white;
  padding: 15px 15px 15px 30px;
  margin-left: -50px;
  background-color: #222831;
}

footer {
  text-align: right;
  color: #4a3232;
  clear:both;
}


.tile-image {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card h2,p {
  position: relative;
  width: 100%;
  margin-right: 0%;
  color: #31363F;
  text-align: justify;
}

.lining{
  padding: 10px;
  margin-left: 35%;
}

.lining .link {
  color: #31363F;
  text-decoration: none;
  padding: 10px; 
  font-size: 1.2rem;
}
.search {
  position: relative;
  background-color: white;
  border-radius: 30px;
  width: 60%;
  height: 60px;
  box-shadow: 0px 0px 4px 4px rgb(207, 206, 206);
  margin-left: 20%;
  margin-bottom: 50px;
}

.search p {
  color: #31363F;
  padding: 20px;
  margin-left: 70px;
  
}

.search .btn {
  position: absolute;
  width: 40px;
  padding: 10px;
  margin-top: -80px;
  margin-left: 15px;
}

}